.CardOne{
    border-radius: 20px;
    text-align: center;
    color: #D92C15;
}

.CardTwo{
    border-radius: 20px;
    text-align: center;
    color: #e3a408;
}

.CardThree{
    border-radius: 20px;
    text-align: center;
    color: #9AB518;
}
